/*Positionnement*/
body, nav, main {
    display: flex;
    flex-wrap: wrap;
}

ul {
    display: flex;
    flex-wrap: nowrap;
    padding-left: 0;
    list-style: none;
    text-align: center;
    background-color: rgb(168, 179, 192);    
}

header, main > nav, aside, footer, section, div {
    margin: 0.4rem;
    padding: 0.35rem;
}

aside h2 {
    flex-basis: 100%;
    flex-grow: 1;
}

section {
    flex-basis: 50%;
    flex-grow: 1;
}

nav, footer, ul, li {
    flex-basis: 100%;
}

main {
    flex-basis: 30%;
    flex-grow: 1;
}

aside {
    flex-basis: 15%;
}

.obi {
    width: 15vw;
}

.dark {
    width: 20vw;
}

header img {
    width: 98vw;
}

p {
    text-align: justify;
}

/*Style*/

p {
    color: rgb(150, 190, 224);
    font-family: 'Courier New', Courier, monospace;
}

a {
    color: rgb(0, 29, 126);
    text-decoration: none;
    font-family: fantasy;
}

h2 {
    color: rgb(233, 31, 31);
    font-family: Arial, Helvetica, sans-serif;
}

aside, footer {
    border: thin solid rgb(146, 128, 128);
}

body {
    background-color: rgb(48, 45, 45);
}

ul {
    list-style: none;
    text-align: center;
}

li {
    border: 0.12rem solid black;
}